* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 5px;
  position: relative;
  width: 90%;
  margin: 20px;
}

.backgroundPad {
  display: flex;
  flex-direction: column;
  gap: 59px 0;
}

.backGroundLineContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.backGroundTime {
  position: absolute;
  color: gray;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  width: 15%;
  text-align: center;
}

.backGroundLineSegment {
  flex-grow: 1;
  height: 1px;
  border-bottom: 1px solid rgb(221, 218, 218);
}

.eventDayContainer {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.eventsContainer {
  position: relative;
  border-right: 1px solid darkgrey;
  height: 100%;
  /* width: calc(80% / 7); */
  top: 0px;
  left: 20%;
  overflow: hidden;
}

.singleEvent {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
}
